@font-face {
    font-family: 'Lithos Pro';
    src: url('LithosPro-Black.woff2') format('woff2'),
        url('LithosPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

